/* Styling for the #blog container */
#blog {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 10% 8% 0 8%; /* Top, Right, Bottom, Left padding */
}

/* Styling for the h1 element inside #blog */
#blog h1 {
  font-weight: bold;
  font-size: 65px;
}

/* Styling for the span element inside #blog h1 */
#blog h1 span {
  background-image: linear-gradient(to right, #0076ce, #9400d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Styling for the .peopleContainer */
.peopleContainer {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Styling for the h4 elements inside .peopleContainer */
.peopleContainer h4 {
  font-size: 40px;
  color: red;
}

/* Styling for the .peopleCard elements */
.peopleCard {
  margin-top: 5%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px rgb(230, 230, 230);
  background-color: white;
  text-align: center;
  border-radius: 20px;
  width: 405px;
  height: 266px;
}

/* Styling for the h2 elements inside .peopleCard */
.peopleCard h2 {
  font-size: 20px;
}

/* Styling for the links inside .peopleCard h2 */
.peopleCard h2 a {
  text-decoration: none;
  color: black;
}

/* Styling for the paragraphs inside .peopleCard */
.peopleCard p {
  margin-top: 5px;
  font-size: 16px;
}

/* Styling for the .signNo element */
.signNo {
  position: relative;
  top: 0;
  right: 0;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0076ce, #9400d3);
  width: 46px;
  height: 46px;
  text-align: center;
  padding: 1%;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* Styling for the .dateAndPrice container */
.dateAndPrice {
  margin-top: 25px;
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 341px;
  height: 113px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: start;
}

/* Styling for the h3 elements inside .dateAndPrice */
.dateAndPrice h3 {
  font-size: 18px;
  line-height: 3;
}

/* Styling for .dueDate and .price elements inside .dateAndPrice */
.dueDate,
.price {
  margin-bottom: 30px;
}

/* Styling for the h3 elements inside .dueDate and .price */
.dueDate h3 {
  color: #0076ce;
}

.price h3 {
  color: #ff6666;
}

/* Additional styling for price paragraph */
.price p {
  font-weight: bold;
}

/* Additional styling for h4 elements inside .peopleContainer for smaller screens */
@media screen and (max-width: 576px) {
  .peopleCard {
    height: 240px;
  }
}
