/* Styling for the #hero container */
#hero {
    position: relative;
    z-index: 2;
    padding: 6% 6% 6% 10%; /* Top, Right, Bottom, Left padding */
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  
  /* Styling for the leftHero container */
  .leftHero {
    width: 580px;
  }
  
  /* Styling for the h1 within leftHero */
  .leftHero h1 {
    font-size: 45px;
    font-weight: bold;
  }
  
  /* Styling for the span within the h1 */
  .leftHero h1 span {
    background-image: linear-gradient(70deg, #0076CE, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Styling for the p within leftHero */
  .leftHero p {
    margin-top: 20px;
    font-size: 15px;
    color: #616161;
  }
  
  /* Styling for the span within the p */
  .leftHero p span {
    font-weight: 600;
  }
  
  /* Styling for the searchBtnContainer */
  .searchBtnContainer {
    margin: 8% 0;
    width: 500px;
    height: 70px;
  }
  
  /* Styling for input and button within searchBtnContainer */
  .searchBtnContainer, input, button {
    height: 70px;
  }
  
  /* Styling for the search input field */
  .searchBtnContainer input {
    color: #BFBFBF;
    font-weight: 600;
    outline: none;
    border: 1.5px solid #BFBFBF;
    padding: 0 8%;
    border-radius: 10px 0 0 10px;
    width: 300px;
  }
  
  /* Styling for the placeholder text in the search input field */
  .searchBtnContainer input::placeholder {
    color: #BFBFBF;
    font-weight: 600;
  }
  
  /* Styling for the search button */
  .searchBtn {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0076CE;
    color: white;
    position: relative;
    right: 10px;
    border-radius: 10px;
    width: 200px;
  }
  
  /* Styling for the rightHero container */
  .rightHero {
    width: 529px;
    height: 400px;
  }
  
  /* Styling for the image within rightHero */
  .rightHero img {
    width: 100%;
    height: 100%;
  }
  
  /* Design for tablet view */
  @media screen and (max-width: 768px) {
    .rightHero {
      display: none; /* Hide the rightHero container on tablets */
    }
  }
  
  /* Design for mobile view */
  @media screen and (max-width: 576px) {
    #hero {
      flex-direction: column;
      gap: 10px;
    }
    .leftHero {
      width: 300px;
    }
    .leftHero h1 {
      font-size: 35px;
    }
    .rightHero {
      display: none; /* Hide the rightHero container on mobile devices */
    }
    .searchBtnContainer {
      margin-top: 25px;
    }
    .searchBtnContainer input {
      width: 200px;
      height: 50px;
    }
    .searchBtnContainer button {
      width: 100px;
      height: 50px;
    }
  }
  