/* Styling for the .footerContainer */

.footerContainer {
  background-image: linear-gradient(160deg, #0076CE, #9400D3);  /*Background gradient*/
   padding: 2% 10% 0 10%;  /*Top, Right, Bottom, Left padding */
}

/* Styling for paragraph elements within .footerContainer */
.footerContainer p {
  color: white;
  line-height: 2;
  font-weight: 200;
  font-size: 14px;
}

/* Styling for .footerContainer01, a flex container for layout */
.footerContainer01 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Styling for h5 elements within divs inside .footerContainer01 */
.footerContainer01 div h5 {
  color: white;
  font-weight: bold;
}

/* Styling for the .logo element */
.logo {
  width: 300px;
}

/* Styling for images within the .logo */
.logo img {
  color: white;
}

/* Styling for the horizontal line */
hr {
  margin-top: 30px;
}

/* Styling for .footerContainer02, another section within the footer */
.footerContainer02 {
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
}

/* Styling for the social media icons container */
.footerIcons {
  display: flex;
  gap: 20px;
}

/* Styling for individual footer icons */
.footerIcon {
  color: white;
  font-size: 20px;
}

/* Styling for .footerContainer03, the bottom section of the footer */
.footerContainer03 {
  width: 100%;
  height: 50px;
  background-color: black;
  font-size: 14px;
  font-weight: 200;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Media queries for tablet and smaller screens */

@media (max-width: 768px) {
  .footerContainer {
      padding: 2% 5% 0 5%;
  }

  .footerContainer p {
      font-size: 12px;
  }

  .footerContainer01 {
      flex-wrap: wrap;
  }

  .logo {
      width: 200px;
  }

  .footerIcon {
      font-size: 16px;
  }
}

@media (max-width: 576px) {
  .footerContainer {
      margin-top: 50px;
      padding: 2% 5% 0 5%;
  }
  .footerContainer01 {
      flex-wrap: wrap;
  }

  .footerContainer01 div h5 {
      font-size: 16px;
  }
  .footerContainer02 p {
      width: 60vw;
  }
  .footerContainer p {
      font-size: 10px;
  }

  .logo {
      width: 120px;
  }

  .footerIcon {
      font-size: 14px;
  }
  .footerContainer03 {
      height: 30px;
  }
  .footerContainer03 p {
      font-weight: 300;
      font-size: 8px;
  }
}
