#home {
    overflow: hidden;  /* Overflow is hidden to ensure content stays within the visible area */
}

#bgGradient {
    position: absolute;  /* Positioned absolutely to cover the background */
    z-index: 2;  /* Layer with a higher z-index appears above others */
    width: 100%;  /* Cover the full width of the viewport */
    height: 80vh;  /* 80% of the viewport height */
    top: 0;  /* Positioned at the top of the viewport */
    background-image: linear-gradient(45deg, #FEE0DD, #FCF6FC, #C5EAED, #FDDDFE); /* Gradient background */
}

#bgTilt {
    position: absolute;  /* Positioned absolutely to cover the background */
    background-image: linear-gradient(45deg, #FEE0DD, #FCF6FC, #C5EAED, #FDDDFE); /* Gradient background */
    z-index: 1;  /* Layer with a lower z-index appears below #bgGradient */
    top: 0;  /* Positioned at the top of the viewport */
    left: 0;  /* Positioned at the left of the viewport */
    width: 100%;  /* Cover the full width of the viewport */
    height: 80vh;  /* 80% of the viewport height */
    transform: skewY(-5deg); /* Skew the element */
    transform-origin: top right; /* Set skew origin to the top right */
}

.waveBg {
    position: absolute;  /* Positioned absolutely to create a wave effect */
    z-index: 1;  /* Layer with a lower z-index appears below other elements */
    bottom: 1800px;  /* Positioned at the bottom, creating a visual effect */
    left: 0;  /* Positioned at the left of the viewport */
    transform-origin: top left; /* Set transform origin to the top left */
    background-image: linear-gradient(to top, transparent 100%); /* Create a gradient for the wave effect */
    overflow: hidden;  /* Overflow is hidden to hide any overflowing content */
    height: 40vh;  /* 40% of the viewport height */
    min-width: 100vw;  /* Ensure a minimum width of 100% of the viewport width */
}

/* Media queries for tablet view */
@media screen and (max-width: 768px) {
    #bgGradient {
        height: 55vh;  /* Adjust height for tablet view */
    }
    #bgTilt {
        height: 55vh;  /* Adjust height for tablet view */
    }
}

/* Media queries for mobile view */
@media screen and (max-width: 576px) {
    #bgGradient {
        height: 55vh;  /* Adjust height for mobile view */
    }
    #bgTilt {
        height: 55vh;  /* Adjust height for mobile view */
    }
}
